// font-family: 'Fruktur', cursive;
// font-family: 'Aleo', serif;

#artist-title {
  font-family: 'Fruktur', cursive;
}

.songs-list {
  font-family: 'Aleo', serif;
}

.list-item {
  border: 3px solid #333;
}